extends layout

block content
  h1= title
  p Welcome to #{title}

  h2#market= Market

  h2= Poloniex
  div#poloniex
    table
      thead
        th= BUY
        th= SELL
      tbody
        tr
          td
          td
      tfoot

  h2= BitTrex
  div#bittrex
    table
      thead
        th= BUY
        th= SELL
      tbody
        tr
          td
          td
      tfoot

  h2= BitFinex
  div#bitfinex
    table
      thead
        th= BUY
        th= SELL
      tbody
        tr
          td
          td
      tfoot
